.git
.gitignore
README.md
env/

**/__pycache__/
*.py[cod]
*.egg-info/

serveware/db.sqlite3
serveware/staticfiles/
serveware/static/media/menu_images/
serveware/static/media/table_qr/
serveware/static/media/qr_codes/

.env
serveware/.env
*.env.*
!requirements.txt

.vscode/
.idea/
.DS_Store
