.git
.venv
env
**/__pycache__
**/*.pyc
serveware/db.sqlite3
serveware/media
serveware/staticfiles
serveware/htmlcov
serveware/test-reports
serveware/.coverage
serveware/coverage.xml
serveware/.scannerwork
serveware/.env
deploy
monitoring
scripts
Jenkinsfile
*.md
