[run]
source = .
branch = True
relative_files = True
omit =
    *migrations*
    *tests.py
    manage.py
    testutils.py
    serveware/asgi.py
    serveware/wsgi.py
    *management*

[report]
show_missing = True
